.incident-stepper__modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .incident-stepper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  