.report-list {
  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  &__filters-left {
    flex-grow: 1;
  }

  &__filters-right {
    margin-left: 1rem;
  }

  &__time-filter {
    color: #6B7280;
    border: 1px solid #6B7280;
    padding: 5px;
    
    &--active {
      color: white;
      background-color: #6B7280;
    }
  }
}
